{erl_opts, [debug_info]}.

{profiles, [{test, [{deps, [proper]}]}]}.

{shell, [{apps, [lab2_fp]}]}.

{eunit_tests, [{module, unit}]}.

{project_plugins, [rebar3_lint, erlfmt, rebar3_format, rebar3_proper]}.

{erlfmt,
 [{print_width, 90},
  {files, ["{src,test}/*.{erl,src}", "rebar.config", "elvis.config", "src/*/*.erl"]}]}.
